[toolchain]

[features]
seeds = false
skip-lint = false

[programs.devnet]
solana_dao = "HQNsBk3UiLkQQEDr9qEBs3PC1AhPNeYGfh1WyNhLW5Tx"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "/home/user/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
